.section {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;

  &-item {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__icon {
    font-size: 28px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #202124;
    line-height: 1.4;
  }

  &__count {
    font-size: 13px;
    color: #5f6368;
    line-height: 1.4;
  }

  &__badge {
    margin-left: auto;
  }

  &__time {
    padding: 6px 14px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    display: inline-block;
    
    &.blue {
      background-color: #1a73e8;
    }

    &.green {
      background-color: #1e8e3e;
    }
  }
}
@media (max-width: 768px) {
  .section {
    &-item {
      padding: 6px 0px;;
    }

    &__icon {
      font-size: 24px;
      width: 36px;
      height: 36px;
      margin-right: 12px;
    }

    &__title {
      font-size: 13px;
    }

    &__count {
      font-size: 12px;
    }

    &__time {
      font-size: 11px;
      padding: 5px 12px;
    }
  }
}